.vscode/

client/__pycache__
client/*.pyc
client/bin
client/lib
client/lib64
client/app/__pycache__
client/app/test_script.py
client/app/db/db/get_old_db.py
client/app/db/db/notifications.db
client/app/credentials.json
client/app/token.json
client/app/quickstart.py
client/app/send_email.py
client/app/create_draft.py
client/app/exemplo_configdb.py

server/__pycache__
server/*.pyc
server/audio_to_serial_modem_example.py
server/test_script.py
server/icon_test.py
