.vscode/

client/__pycache__
client/*.pyc
client/bin
client/lib
client/lib64
client/app/__pycache__
client/app/test_script.py

server/__pycache__
server/*.pyc
server/audio_to_serial_modem_example.py
server/test_script.py
server/icon_test.py
