
<div class="card-body p-0" id="myModal">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-12">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                </div>
                <form class="user" action="{{url_for('login_modal')}}" method="post" id="loginForm" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group has-validation">
                        <div>
                        {{ form.username(class="form-control form-control-user" +
                            (" is-invalid" if form.username.errors else ""), placeholder="Username",
                            id="inputValUsername", size=32, **{"aria-describedby": "inputValUsername",
                            "required": ""}) }}
                        </div>
                        {% for error in form.username.errors %}
                        <div class="text-danger">
                            <small>{{ error }}</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group has-validation">
                        <div>
                        {{ form.password(class="form-control form-control-user" +
                            (" is-invalid" if form.password.errors else ""), placeholder="Password",
                            id="inputValPassword", size=32, **{"aria-describedby": "inputValPassword",
                            "required": ""}) }}
                        </div>
                        {% for error in form.password.errors %}
                        <div class="text-danger">
                            <small>{{ error }}</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label }}
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-primary btn-user btn-block", id='form-submit') }}
                </form>
                <hr>
                <div class="text-center">
                    <!-- <a class="small" href="{{url_for('forgot')}}">Forgot Password?</a> -->
                </div>
                <div class="text-center">
                    <a class="small" href="{{url_for('register')}}">Create an Account!</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{{url_for('index')}}">Back to Notification Service Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
