{% extends 'base.html' %}
{% set active_page = "notifications" %}


{% block app_content %}
    <script src="{{ url_for('static', filename='js/nService.js') }}"></script>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{%if not current_user.is_authenticated %}
        All Notifications{% else %}Your Configured Notifications {% endif %} </h1>
    <p class="mb-4">Notifications are sent to the configurated person contact whenever
        the Rule evaluates to True.</p>
    <script src="https://cdn.jsdelivr.net/npm/table-to-json@1.0.0/lib/jquery.tabletojson.min.js"></script>
    <script>
        window.onload = function(){
        '{%for notification in notifications%}'
            var table = document.getElementById("dataTable");
            var row = table.insertRow(table.rows.length);
            '{% if current_user.is_authenticated %}'
                var select = row.insertCell(0)
                var id = row.insertCell(1)
                var expiration = row.insertCell(2);
                var pv = row.insertCell(3);
                var rule = row.insertCell(4);
                var limit = row.insertCell(5);
                var subrule = row.insertCell(6);
                var interval = row.insertCell(7);
                var persistence = row.insertCell(8);
            '{%else%}'
                var id = row.insertCell(0)
                var expiration = row.insertCell(1);
                var pv = row.insertCell(2);
                var rule = row.insertCell(3);
                var limit = row.insertCell(4);
                var subrule = row.insertCell(5);
                var interval = row.insertCell(6);
                var persistence = row.insertCell(7);
            '{%endif%}'
            var n = '{{notification.notification}}';
            obj = toJson(n);
            // console.log(obj)
            nCores = obj.notificationCores;
            var len = obj.notificationCores.length;
            // console.log('len', len)
            //se tamanho da array de notificacoes <= 1
            if (len == 1){
                // console.log('array == 1')
                '{% if current_user.is_authenticated %}'
                select.innerHTML = "<td><input name='checkbox[]' class='cb' type='checkbox' \
                                    name='checkbox[]' value='{{notification.id}}' \
                                    id='{{notification.id}}'>{%if current_user.username=='admin'%}\
                                    {%endif%}</td>";
                id.innerHTML = '{{notification.id}}';
                // console.log(obj)
                expiration.innerHTML = obj.expiration;
                pv.innerHTML = obj.notificationCores[0].notificationCore0.pv;
                rule.innerHTML = obj.notificationCores[0].notificationCore0.rule;
                // console.log('notificationCores', obj.notificationCores[0]);
                // console.log('rule', rule)
                // console.log('obj', obj.notificationCores[0].notificationCore0.rule)
                // limit.innerHTML = obj.notificationCores[0].notificationCore0.limit
                rule_ = obj.notificationCores[0].notificationCore0.rule;
                if (rule_.includes('LL')){
                    limit.innerHTML = 'LL = ' + obj.notificationCores[0].notificationCore0['limitLL'] + ' // ' +
                        'LU = ' + obj.notificationCores[0].notificationCore0['limitLU'] + '<br/>';
                    }
                else{
                    limit.innerHTML = 'L = ' + obj.notificationCores[0].notificationCore0.limit;
                    }
                // console.log(rule_)
                subrule.innerHTML = obj.notificationCores[0].notificationCore0.subrule;
                interval.innerHTML = obj.interval;
                persistence.innerHTML = obj.persistence;
                // console.log('limit', limit)
                '{%else%}'
                // console.log(obj)
                id.innerHTML = '{{notification.id}}';
                expiration.innerHTML = obj.expiration;
                pv.innerHTML = obj.notificationCores[0].notificationCore0.pv;
                // console.log('notificationCores', obj.notificationCores[0]);
                rule.innerHTML = obj.notificationCores[0].notificationCore0.rule
                rule_ = obj.notificationCores[0].notificationCore0.rule;
                limit.innerHTML = "test"
                if (rule_.includes('LL')){
                    limit.innerHTML = 'LL = ' + obj.notificationCores[0].notificationCore0['limitLL'] + ' // ' +
                        'LU = ' + obj.notificationCores[0].notificationCore0['limitLU'] + '<br/>';
                    }
                else{
                    limit.innerHTML = 'L = ' + obj.notificationCores[0].notificationCore0.limit;
                    }
                subrule.innerHTML = obj.notificationCores[0].notificationCore0.subrule;
                interval.innerHTML = obj.interval;
                persistence.innerHTML = obj.persistence;
                '{%endif%}'
            }
            //se tamanho da array de notificações > 1
            else {
                // console.log('array > 1')
                for (var j=0; j < len; j+=1){
                    var nC = 'notificationCore' + j.toString();
                    // if (j > 0){
                    //     var nL = 'limit';
                    // }
                    // else {
                    //     var nL = 'limit';
                    // }
                    // console.log('nC', nC);
                    var notification = obj.notificationCores[j][nC];
                    var notification_str = JSON.stringify(notification);
                    // console.log('notification', notification);
                    if (typeof notification_str == 'string'){
                        if (notification_str.includes('limitLL')){
                            // console.log('includes LL')
                            // console.log(pv)
                            // Ler var rules e definir se há limitLL ou somente limit, setar var nL
                            var nL = 'limitLL';
                        }
                        else{
                            //console.log('do not contains LL', nL);
                            var nL = 'limit';
                        }
                    }
                    nC = 'notificationCore' + j;
                    if(j == 0){
                        nP = 'pv';
                        nR = 'rule';
                        nLimit = 'limit';
                        nLimitLL = 'limitLL';
                        nLimitLU = 'limitLU';
                        nSubrule = 'subrule';
                    }
                    else{
                        nP = 'pv' + j;
                        nR = 'rule' + j;
                        nLimit = 'limit' + j;
                        nLimitLL = 'limitLL' + j;
                        nLimitLU = 'limitLU' + j;
                        nSubrule = 'subrule' + j;
                    }
                    '{% if current_user.is_authenticated %}'
                    select.innerHTML = "<td><input name='checkbox[]' class='cb' type='checkbox' \
                                        name='checkbox[]' value='{{notification.id}}' \
                                        id='{{notification.id}}'>{%if current_user.username=='admin'%}\
                                        {%endif%}</td>";
                    id.innerHTML = '{{notification.id}}';
                    expiration.innerHTML = obj.expiration;
                    pv.innerHTML += obj.notificationCores[j][nC][nP] + '<br/>';
                    rule.innerHTML += obj.notificationCores[j][nC][nR] + '<br/>';
                    // console.log(nL)
                    if (nL == 'limitLL'){
                        limit.innerHTML += 'LL = ' + obj.notificationCores[j][nC][nLimitLL] + ' // ' +
                            'LU = ' + obj.notificationCores[j][nC][nLimitLU] + '<br/>';
                    }
                    else{
                        limit.innerHTML += 'L = ' + obj.notificationCores[j][nC][nLimit] + '<br/>';
                    }
                    subrule.innerHTML += obj.notificationCores[j][nC][nSubrule] + '<br/>';
                    interval.innerHTML = obj.interval;
                    persistence.innerHTML = obj.persistence;
                    '{%else%}'
                    id.innerHTML = '{{notification.id}}';
                    expiration.innerHTML = obj.expiration;
                    pv.innerHTML += obj.notificationCores[j][nC][nP] + '<br/>';
                    rule.innerHTML += obj.notificationCores[j][nC][nR] + '<br/>';
                    if (nL == 'limitLL'){
                        limit.innerHTML += 'LL = ' + obj.notificationCores[j][nC][nLimitLL] + ' // ' +
                            'LU = ' + obj.notificationCores[j][nC][nLimitLU] + '<br/>';
                    }
                    else{
                        limit.innerHTML += 'L = ' + obj.notificationCores[j][nC][nLimit] + '<br/>';
                    }
                    subrule.innerHTML += obj.notificationCores[j][nC][nSubrule] + '<br/>';
                    interval.innerHTML = obj.interval;
                    persistence.innerHTML = obj.persistence;
                    '{%endif%}'
                }
            }
        '{%endfor%}'
        //console.log(limit)
        }

    </script>
    <!-- DataTales Example -->
    <form action="" action='{{url_for("notifications")}}' method="POST" style="display:inline-block;overflow-x:auto;">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-sm text-left text-nowrap" id="dataTable" cellspacing="0">
                        <thead class="thead-light">
                                {% if current_user.is_authenticated %}
                                <th>Select</th>
                                {%endif%}
                                <th>ID</th>
                                <th>Expiration</th>
                                <th>PV</th>
                                <th>Rule</th>
                                <th>Limit</th>
                                <th>Subrule</th>
                                <th>Interval</th>
                                <th>Persistence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if current_user.is_authenticated %}
                            <td style="display:none"></td>
                            {%endif%}
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div>
            <span>
                <button class="btn btn-primary btn-user" type="submit" name="action" value='add'>Add Notification</button>
            </span>
            <span>
                <button class="btn btn-primary btn-user" type="submit" name="action" value="edit">Edit Notification</button>
            </span>
            <span>
                <button class="btn btn-primary btn-user" type="submit" name="action" value="delete" onclick="return confirm('Are you sure?');">Delete Notification</button>
            </span>
        </div>
        {% endif %}
    </form>
    <br>
    </br>
    <script type="text/javascript">
        var tableToJson = $('#dataTable').tableToJSON();
        var sendingData = JSON.stringify (tableToJson);
        //console.log(tableToJson)
    </script>
{% endblock %}
