<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notification Service - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/notificationservice.min.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>

    <script type='text/javascript'>
        $(document).ready(function($){
            var phones = [{ "mask": "+55 ## #-####-####"}, { "mask": "+55 ## #-####-####"}];
            $('#inputValPhone').inputmask({
                mask: phones,
                greedy: false,
                definitions: { '#': { validator: "[0-9]", cardinality: 1}}
                });
            $('#inputValUsername').focus()
            });
    </script>

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
                                    </div>
                                    <form action="" method="POST" novalidate>
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <div class="form-group mb-0">
                                                {{ form.username(class="form-control form-control-user" +
                                                    (" is-invalid" if form.username.errors else ""), placeholder="Username",
                                                    id="inputValUsername", size=32, **{"aria-describedby": "inputValUsername",
                                                    "required": ""}) }}
                                            </div>
                                            <div class="mb-3">
                                                {% for error in form.username.errors %}
                                                <div class="text-danger">
                                                    <small>{{ error }}</small>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group mb-0">
                                                {{ form.email(class="form-control form-control-user" +
                                                    (" is-invalid" if form.email.errors else ""), placeholder="Email",
                                                    id="inputValEmail", size=32, **{"aria-describedby": "inputValEmail",
                                                    "required": ""}) }}
                                            </div>
                                            <div class="mb-3">
                                                {% for error in form.email.errors %}
                                                <div class="text-danger">
                                                    <small>{{ error }}</small>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group row mb-0 mx-0">
                                                <div class="form-group col-sm-6 px-0 mb-0">
                                                    <div class="col-sm-12 pl-0 pr-1">
                                                        {{ form.password(class="form-control form-control-user" +
                                                            (" is-invalid" if form.password.errors else ""), placeholder="Password",
                                                            id="inputValPassword", size=32, **{"aria-describedby": "inputValPassword",
                                                            "required": ""}) }}
                                                    </div>
                                                    <div class="mb-3">
                                                        {% for error in form.password.errors %}
                                                        <div class="form-group text-danger">
                                                            <small>{{ error }}</small>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 px-0 mb-0">
                                                    <div class="col-sm-12 pl-1 pr-0">
                                                        {{ form.password2(class="form-control form-control-user" +
                                                            (" is-invalid" if form.password2.errors else ""), placeholder="Repeat Password",
                                                            id="inputValPassword2", size=32, **{"aria-describedby": "inputValPassword2",
                                                            "required": ""}) }}
                                                    </div>
                                                    <div class="mb-3 pl-1">
                                                        {% for error in form.password2.errors %}
                                                        <div class="form-group text-danger">
                                                            <small>{{ error }}</small>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0">
                                                {{ form.phone(class="form-control form-control-user inputValPhone" +
                                                    (" is-invalid" if form.phone.errors else ""), placeholder="Phone Number",
                                                    id="inputValPhone", size=32, type="", **{"aria-describedby": "inputValPhone",
                                                    "required": ""}) }}
                                            </div>
                                            <div class="mb-3">
                                                {% for error in form.phone.errors %}
                                                <div class="text-danger">
                                                    <small>{{ error }}</small>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <!-- <a class="small" href="{{url_for('forgot')}}">Forgot Password?</a> -->
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{url_for('login')}}">Already have an account? Login!</a>
                                    <div class="text-center">
                                        <a class="small" href="{{url_for('index')}}">Back to Notification Service Home</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-v4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/notificationservice.min.js') }}"></script>


</body>

</html>
