
<link href="static/css/custom.css" rel="stylesheet" type="text/css">

{% extends 'base.html' %}
{% set active_page = "notifications" %}

{% block app_content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Available Rules</h1>
    <p class="mb-2">Rules use special variables to set a condition for evaluation. They're described bellow:</p>
    <p class="mb-1">▸&nbsp;&nbsp;'pv' = PV reading value;</p>
    <p class="mb-1">▸&nbsp;&nbsp;'L' = Limit threshold to be compared against pv;</p>
    <p class="mb-1">▸&nbsp;&nbsp;'LU' = Upper Limit threshold to be compared against pv;</p>
    <p class="mb-1">▸&nbsp;&nbsp;'LL' = Lower Limit threshold to be compared against pv;</p>
    <p class="mb-1">▸&nbsp;&nbsp;The rules are evaluated through an EVAL() function used in Python.</p>
    <p class="mb-4">▸&nbsp;&nbsp;When the Rule evaluates to True, the SMS message is sent;</p>
    <p class="mb-4">All available rules are displayed bellow:</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="display:inline-block;">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm" id="dataTable" 
                    width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th>Rule</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rule in rules %}
                        <tr>
                            <td>{{ rule.rule }}</td>
                            <td>{{ rule.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
